.App {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings {
  display: grid;
  text-align: center;
  justify-content: center;
}

input {
  border-radius: 4px;
  border: 2px solid black;
  box-sizing: border-box;
}

.inputField {
  display: inline-block;
  justify-content: center;
  vertical-align: middle;
}

.answerItem {
  border: 2px solid black;
  border-radius: 4px;
  margin-bottom: 5px;
  color: black;
}

.deleteButton{
  float: right;
  border: 1px solid black;
  border-radius: 4px;
  background-color: lightcoral;
}

.hoverShadow:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.formButtonHover:hover{
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24),0 4px 4px 0 rgba(0,0,0,0.19);
}

.formButton{
  width: 40%;
  margin-right: 5%;
  margin-left: 5%;
  border-radius: 8px;
  border: 2px solid black;
  background-color: white;
}

button:active {
  transform: scale(90%);
}

button {
  font-weight: bolder;
}

p {
  font-weight: bolder;
}
