.pagesMain {
    display: grid;
    text-align: center;
    justify-content: center;
}

.navLink {
    margin: 5px;
    text-decoration: none;
    color: #8eeef7;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.active {
    color: #f0ff76;
    font-weight: bold;
}

.pagesGrid {
    display: grid;
}